{% load wagtailsettings_tags icon %}
{% get_settings use_default_site=True %}

{% with settings=settings.core.SiteSettings %}
<footer class="footer">
  <h1 class="font-mono text-2xl">{{ settings.brand_name }}</h1>
  <nav>
    <ul class="flex space-x-3 text-lg">
      {% for page in pages %}
        <li>
          <a href="{{ page.url }}">{{ page.title }}</a>
        </li>
        {% if not forloop.last %}<span class="font-thin">|</span>{% endif %}
      {% endfor %}
    </ul>
  </nav>
  <ul class="flex space-x-2">
    {% if settings.facebook %}
    <li>
      <a href="{{ settings.facebook }}" class="footer__icon-link" target="_blank" rel="noopener noreferrer">
        {% icon "facebook" %}
      </a>
    </li>
    {% endif %}
    {% if settings.twitter %}
    <li>
      <a href="{{ settings.twitter }}" class="footer__icon-link" target="_blank" rel="noopener noreferrer">
        {% icon "twitter" %}
      </a>
    </li>
    {% endif %}
  </ul>
</footer>
{% endwith %}