{% load wagtailsettings_tags icon %}
{% get_settings use_default_site=True %}

{% with settings=settings.core.SiteSettings %}
<footer class="footer">
  <h1 class="font-mono text-2xl">{{ settings.brand_name }}</h1>
  <nav>
    <ul class="flex space-x-3 text-lg">
      {% for page in pages %}
        <li>
          <a href="{{ page.url }}" class="mr-2">{{ page.title }}</a>
          {% if not forloop.last %}<span class="font-thin">|</span>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
  <ul class="flex space-x-2">
    {% if settings.facebook_url %}
    <li>
      <a href="{{ settings.facebook_url }}" class="footer__icon-link" target="_blank" rel="noopener noreferrer" title="Navigate to Facebook">
        {% icon "facebook" %}
      </a>
    </li>
    {% endif %}
    {% if settings.twitter_url %}
    <li>
      <a href="{{ settings.twitter_url }}" class="footer__icon-link" target="_blank" rel="noopener noreferrer" title="Navigate to Twitter">
        {% icon "twitter" %}
      </a>
    </li>
    {% endif %}
  </ul>
</footer>
{% endwith %}