{% load wagtailcore_tags wagtailsettings_tags icon %}
{% get_settings use_default_site=True %}

{% with settings=settings.core.SiteSettings %}
<header class="navbar">
  <div class="navbar-content">
    <div class="flex items-center space-x-2">
      <a href="/">
        <h1 class="text-2xl font-semibold font-mono">
          {{ settings.brand_name }}
        </h1>
      </a>
    </div>
    <div class="hidden sm:flex items-center space-x-6 text-lg">
      <nav>
        <ul class="flex space-x-6">
          {% for is_active, page in pages %}
          <li>
            <a href="{{ page.url }}" class="{% if is_active %}underline decoration-2 decoration-green-500 {% endif %}">
              {{ page.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <span class="font-thin">|</span>
      <button id="toggle-dark-mode" title="Toggle light/dark mode">
        <span id="toggle-dark-mode-dark-icon-wrapper">
          {% icon "moon" class="h-4 w-5" %}
        </span>
        <span id="toggle-dark-mode-light-icon-wrapper">
          {% icon "sun" class="h-5 w-5" %}
        </span>
      </button>
    </div>
    <div class="sm:hidden">
      <button id="menu-toggle" class="relative z-50 button button-xs border-green-500 dark:border-green-600">
        Menu
      </button>
    </div>
  </div>
  <div class="navbar-breadcrumbs">
    <div class="navbar-breadcrumbs-list-wrapper">
      <ul class="navbar-breadcrumbs-list">
        {% for page in breadcrumbs %}
          <li>
            <a href="{% pageurl page %}" class="{% if forloop.last %}font-semibold{% endif %} inline-block">
              {{ page.title }}
            </a>
          </li>
          {% if not forloop.last %}<span class="font-thin inline-block">/</span>{% endif %}
        {% endfor%}
      </ul>
    </div>
  </div>
</header>

<section id="mobile-menu" class="mobile-menu">

</section>

{% endwith %}
<script type="text/javascript">
  (function() {
    var btnToggleMenu = document.getElementById("menu-toggle");
    var mobileMenu = document.getElementById("mobile-menu");

    var machine = {
      state: "closed",
      toggle: function() {
        this.state = this.state === "closed" ? "open" : "closed";
      },
      actions: {
        closed: function() {
          console.log("Menu is closed");
          document.documentElement.classList.remove(
            "mobile-menu-open"
          );
        },
        open: function() {
          console.log("Menu is open");
          document.documentElement.classList.add(
            "mobile-menu-open"
          );
        },
      },
      tick: function() {
        this.actions[this.state]()
      },
    };

    machine.tick();

    btnToggleMenu.addEventListener("click", function(event) {
      machine.toggle();
      machine.tick();
    });
  })();
</script>
<script type="text/javascript">
  (function() {
    var isBreadcrumbs = "{{ is_breadcrumbs }}" === "True";
    var wasBreadcrumbs = (function() {
      try {
        return JSON.parse(localStorage.wasBreadcrumbs || false);
      } catch (error) {
        console.error(error);
        return false
      }
    })();
  
    localStorage.wasBreadcrumbs = isBreadcrumbs;

    var navbarBreadcrumbs = document.querySelector(".navbar-breadcrumbs");
    var navbarBreadcrumbsList = document.querySelector(".navbar-breadcrumbs-list");
    var navbarBreadcrumbsListWrapper = document.querySelector(".navbar-breadcrumbs-list-wrapper");

    if (isBreadcrumbs) {
      navbarBreadcrumbs.classList.add("h-6");
    }

    if (isBreadcrumbs && !wasBreadcrumbs) {
      navbarBreadcrumbsListWrapper.classList.add(
        "h-0",
        "overflow-hidden",
        "transition-all",
        "duration-300",
      );
      setTimeout(function() {
        navbarBreadcrumbsListWrapper.classList.remove(
          "h-0",
          "opacity-0",
        );
        navbarBreadcrumbsListWrapper.classList.add(
          "h-6",
        );
      });
    }
  })();
</script>
<script type="text/javascript">
  (function () {
    var toggleDarkMode = document.getElementById("toggle-dark-mode");
    var moonIcon = document.getElementById("toggle-dark-mode-dark-icon-wrapper");
    var sunIcon = document.getElementById("toggle-dark-mode-light-icon-wrapper");

    if (toggleDarkMode) {
      toggleDarkMode.addEventListener("click", onToggleDarkMode);
    }

    function getIsDarkMode() {
      return localStorage.getItem("dark-mode") === "true";
    }

    function setIsDarkMode(bool) {
      localStorage.setItem("dark-mode", JSON.stringify(bool));
    }

    function onToggleDarkMode() {
      setIsDarkMode(!getIsDarkMode());
      updateUI();
    }

    function updateUI() {
      var html = document.querySelector("html");
      if (getIsDarkMode()) {
        html.classList.add("dark");
        moonIcon.style.display = "inline";
        sunIcon.style.display = "none";
      } else {
        html.classList.remove("dark");
        moonIcon.style.display = "none";
        sunIcon.style.display = "inline";
      }
    }

    updateUI();
  })();
</script>

{% comment %}
{% endcomment %}