{% load wagtailcore_tags wagtailsettings_tags icon %}
{% get_settings use_default_site=True %}

{% with settings=settings.core.SiteSettings %}
<header class="navbar" id="navbar">
  <div class="navbar-content">
    <div class="flex items-center space-x-2">
      <a href="/">
        <h1 class="text-2xl font-semibold font-mono">
          {{ settings.brand_name }}
        </h1>
      </a>
    </div>
    <div class="hidden sm:flex items-center space-x-6 text-lg">
      <nav>
        <ul class="flex space-x-6">
          {% for is_active, page in pages %}
          <li>
            <a href="{{ page.url }}" class="{% if is_active %}underline decoration-2 decoration-green-500 {% endif %}">
              {{ page.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <span class="font-thin">|</span>
      <button
        id="toggle-dark-mode"
        data-toggle-dark-mode=""
        title="Toggle light/dark mode"
      >
        {% icon "moon" class="hidden dark:inline h-5 w-5" %}
        {% icon "sun" class="dark:hidden inline h-5 w-5" %}
      </button>
    </div>
    <div class="sm:hidden">
      <button id="mobile-menu-open" class="button button-xs font-mono text-sm font-bold text-slate-700 bg-slate-50 dark:bg-slate-700 dark:text-slate-100">
        Menu
      </button>
    </div>
  </div>
  {% include "partials/mobile-menu.html"  %}
  {% include "partials/breadcrumbs.html" %}
</header>
{% endwith %}

<script type="text/javascript">
  window.CMS_NAVBAR_DATA = {
    isBreadcrumbs:  "{{ is_breadcrumbs }}" === "True"
  };
</script>
