{% extends "base.html" %}
{% load wagtailcore_tags wagtailsettings_tags icon %}
{% get_settings use_default_site=True %}

{# We should add twitter:card and other social meta tags to head here #}

{% block content %}
<section class="flex justify-center w-full h-full pb-8">
  <div class="max-w-2xl flex-1 space-y-6 p-4">
    <h1 class="font-semibold text-4xl">
      {{ page.title }}
    </h1>
    <div class="space-y-1">
      {% if page.countdown_status_message %}
      <span class="badge">
        {{ page.countdown_status_message }}
      </span>
      {% endif %}
      <div>
        <h3 class="font-semibold">Date &amp; Time</h3>
        <div>
          {{ page.when_message }}
        </div>
      </div>
    </div>
    <div>
      <h3 class="font-semibold">Location</h3>
      {% if page.location_link %}
      <a href="{{ page.location_link }}" target="_blank" rel="noopener noreferrer" class="link">
        {{ page.location_description }}
      </a>
      {% else %}
      <div>
        {{ page.location_description }}
      </div>
      {% endif %}
    </div>
    <div>
      <h3 class="font-semibold">Details</h3>
      <div class="prose prose-p:my-2 prose-p:leading-tight prose-li:my-0 prose-ul:my-0 prose-ol:my-0 dark:prose-invert">
        {{ page.detail_description | richtext }}
      </div>
    </div>
    {% if page.include_contact_link %}
    <div class="space-x-1 sm:space-x-2">
      {% comment %}
      {# NOT_IMPLEMENTED: See https://gitlab.com/soc-fem/wagtail-stb-dot-com/-/issues/8 #}
      <a
        href="https://twitter.com/intent/tweet?url={{ page.full_url }}&text=I'm going to this!"
        target="_blank"
        rel="noopener noreferrer"
        class="button-sm font-semibold text-sm"
      >
        Share on Twitter {% icon "twitter" class="inline-block -translate-y-[2px] h-4 w-4 ml-1" %}
      </a>
      {% endcomment %}
      <a
        href="mailto:{{ settings.core.SiteSettings.email }}?subject=RE: Event - {{ page.title }}"
        target="_blank"
        rel="noopener noreferrer"
        class="button-sm font-semibold text-sm"
      >
        Contact Us {% icon "email-fill" class="inline-block -translate-y-[2px] h-4 w-4 ml-1" %}
      </a>
    </div>
    {% endif%}
  </div>
</section>
{% endblock %}