{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<section class="flex justify-center site-full-height">
  <div class="max-w-2xl flex-1 p-4 space-y-16">
    <section class="space-y-4">
      <h2 class="text-xl font-semibold">
        Upcoming Events
      </h2>
      <ul class="space-y-6">
        {% for event in upcoming_events %}
        <li>
          <a href="{{ event.url }}" class="card card--fancy">
            <div class="space-y-3">
              <h2 class="font-semibold text-4xl">
                {{ event.title }}
              </h2>
              <div class="space-y-1">
                {% if event.countdown_status_message %}
                <span class="badge">
                  {{ event.countdown_status_message }}
                </span>
                {% endif %}
                <div>
                  {{ event.when_message }}
                </div>
              </div>
              <div class="">
                {{ event.listing_description }}
              </div>
              <p class="font-mono font-semibold text-sm text-slate-600 dark:text-slate-300">
                click for more
              </p>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section class="space-y-4">
      <h2 class="text-xl font-semibold">
        Past Events
      </h2>
      <ul class="space-y-6">
        {% for event in past_events %}
        <li>
          <a href="{{ event.url }}" class="card card--fancy">
            <div class="space-y-3">
              <h2 class="font-semibold text-4xl">
                {{ event.title }}
              </h2>
              <div class="space-y-1">
                {% if event.countdown_status_message %}
                <span class="badge">
                  {{ event.countdown_status_message }}
                </span>
                {% endif %}
                <div>
                  {{ event.when_message }}
                </div>
              </div>
              <div class="">
                {{ event.listing_description }}
              </div>
              <p class="font-mono font-semibold text-sm text-slate-600 dark:text-slate-300">
                click for more
              </p>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</section>
{% endblock %}