{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<section class="flex justify-center w-full h-full pb-8">
  <div class="max-w-2xl flex-1 p-4 space-y-10">
    <section class="space-y-4">
      <h2 class="text-xl font-semibold">
        Upcoming Events
      </h2>
      <ul class="space-y-6">
        {% for event in upcoming_events %}
        {% include "events/event_listing_page_list_item.html" with event=event %}
        {% endfor %}
      </ul>
    </section>

    <section class="space-y-4">
      <h2 class="text-xl font-semibold">
        Past Events
      </h2>
      <ul class="space-y-6">
        {% for event in past_events %}
          {% include "events/event_listing_page_list_item.html" with event=event %}
        {% endfor %}
      </ul>
    </section>
  </div>
</section>
{% endblock %}