{% extends "base.html" %}
{% load static wagtailcore_tags icon %}

{% block content %}
  <section class="flex flex-col px-4 ">
    {% for block in page.body %}
      {% if block.block_type == "hero" %}
        {% include_block block %}
      {% elif block.block_type == "article" %}
        <div class="flex justify-center ">
          <div class="prose dark:prose-invert prose-lg w-full">
            {% include_block block %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </section>
{% endblock content %}
