{% extends 'base.html' %}
{% load static wagtailcore_tags icon %}

{% block content %}
  <section class="flex flex-col">
    {% for block in page.body %}
      {% if block.block_type == 'hero' %}
      <div class="flex flex-col justify-center items-center w-full site-full-height p-4 relative">
        {% include_block block %}
        {% if not page.disable_scroll_prompt %}
          <button class="absolute bottom-4 p-2 rounded-full transition-colors hover:bg-slate-200 dark:hover:bg-slate-700 animate-bounce motion-reduce:animate-none">
            {% icon "arrow-small-down" %}
          </button>
        {% endif %}
      </div>
      {% elif block.block_type == 'article' %}
        <div class="relative flex justify-center items-center px-4 py-24">
          <div class="bg-slate-100 dark:bg-[#070a13] absolute h-full w-screen"></div>
          <article class="prose prose-lg dark:prose-invert z-10">
            {% include_block block %}
          </article>
        </div>
        {% elif block.block_type == 'featured_pages' %}
        {% with featured_blog_post=block.value.blog_post_page featured_event=block.value.event_page %}
          {% if featured_blog_post or featured_event %}
          <div class="flex flex-col justify-center items-center site-half-height px-4 py-20">
            <div class="max-w-2xl w-full space-y-16">
              {% if featured_blog_post %}
                <div class="space-y-6">
                  <div class="space-y-4">
                    <h3 class="px-2 text-lg font-mono font-bold">from the blog...</h3>
                    <a href="{{ featured_blog_post.url }}" class="card card-fancy card-dense">
                      {% include "partials/blog_post_slim.html" with post=featured_blog_post %}
                    </a>
                  </div>
                  <a href="/blog" class="px-2 inline-block font-bold text-emerald-500">
                    See more blog posts
                  </a>
                </div>
              {% endif %}
              {% if featured_event %}
                <div class="space-y-6">
                  <div class="space-y-4">
                    <h3 class="px-2 text-lg font-mono font-bold">featured event...</h3>
                    <a href="{{ featured_event.url }}" class="card card-fancy card-dense">
                      {% include "partials/event_slim.html" with event=featured_event %}
                    </a>
                  </div>
                  <a href="/events" class="px-2 inline-block font-bold text-emerald-500">See more events</a>
                </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
        {% endwith %}
      {% endif %}
    {% endfor %}
  </section>
{% endblock %}
