@tailwind components;

@layer components {
  .navbar {
    @apply 
  bg-white
  dark:bg-slate-800
    flex
    flex-col
    items-center
    justify-between
    sticky
    top-0
    z-30
    w-full
  }
  .navbar-content {
    @apply
    flex
    flex-1
    items-center 
    justify-between
    max-w-7xl
    w-full
    px-4
    py-1;
  }
  .navbar-breadcrumbs {
    @apply
    flex
    justify-center
    bg-transparent
    sticky
    top-10
    w-full
    border-b
    border-dashed
    border-slate-300
    dark:border-slate-600
  }
  .navbar-breadcrumbs-list-wrapper {
    @apply
    flex
    max-w-7xl
    w-full
  }

  .navbar-breadcrumbs-list {
    @apply
  dark:text-slate-400
  dark:bg-slate-800
  bg-white
    flex
    flex-wrap
    font-mono
    max-w-7xl
    pl-4
    pr-2
    space-x-2
    text-slate-600
    text-xs
    sm:text-sm
  }


  .mobile-menu {
    @apply
    hidden
    fixed
    px-4
    py-1
    top-0
    z-40
    h-full
    w-full
    bg-white
    dark:bg-slate-900
  }

  html.mobile-menu-open {
    @apply overflow-hidden
  }

  html.mobile-menu-open .mobile-menu {
    @apply block sm:hidden;
  }
}

