{% load wagtailcore_tags %}
<div class="space-y-4">
  <div class="space-y-2">
    <div class="text-xs font-mono font-bold text-slate-500 dark:text-slate-400">
      {{ post.ts_created | date:"F jS Y" }}
    </div>
    <h2 class="text-3xl font-semibold">
      {{ post.title }}
    </h2>
    <div class="prose  prose-p:leading prose-p:my-2 text-slate-700 dark:text-slate-300">
      {{ post.teaser | richtext }}
    </div>
  </div>
  <div class="flex justify-between items-center">
    <div class="font-mono font-semibold text-xs text-slate-600 dark:text-slate-300">
      click for more
    </div>
  </div>
</div>