{% load %}

<header class="navbar">
  <h1 class="text-4xl font-bold">StrikeTheBan</h1>
  <ul class="flex space-x-4 text-lg">
    {% for section in menu.sections %}
      {% for item in section.value.items.all %}
        <li>
          <a href="{{ item.href }}" >
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
</header>
<!-- 
align="center"
bg="white"
borderBottom="1px"
borderBottomColor="gray.300"
borderBottomStyle="dashed"
borderBottomWidth="2px"
justify="space-between"
position="sticky"
paddingX={4}
paddingY={1}
top={0}
width="full"
zIndex={10}
-->