{% load wagtailcore_tags wagtailimages_tags %}


<div class="w-full min-h-screen flex items-center">
  <div class="flex-1 p-4">
    <div class="relative bg-slate-100">
      {% image value.image scale-100 class="rounded-sm" %}
      <div class="absolute top-0 w-full h-full bg-gradient-to-r from-blue-400 to-red-300 opacity-40"></div>
    </div>
  </div>
  <div class="flex-1 p-4 space-y-2 max-w-lg">
    <h1 class="text-3xl">
      {{ value.cta.heading }}
    </h1>
    <div class="prose">
      {{ value.cta.text | richtext }}
    </div>
    <a
      href="{{ value.cta.link.url }}"
      target="_blank"
      rel="noopener noreferrer"
      class="p-4 border border-slate-400"
    >
      {{ value.cta.link.text }}
    </a>
  </div>
</div>
